
body {
  overflow: scroll;
  z-index:7;

}

.Footer {
  margin-right: 50%;
  display: flex;
  z-index: 7;
  top: 130vh;
  position: absolute;
  letter-spacing: 2px;
  align-items: end;
}

#brought {
  color: ivory;
  display: inline-block;
  position: absolute;
  left: 155vh;
  top:125vh;
  z-index: 8;
  letter-spacing: 2px;
  font-weight: 400;
}


#your {
  color:ivory;
  display: inline-block;
  position: relative;
  left: 155vh;
  }
  
  #GLOWING {
    color: #fff;
    text-shadow:
        0 0 7px #F5F8B1,
        0 0 10px #F5F8B1,
        0 0 21px #F5F8B1,
        0 0 42px #D4D78A,
        0 0 82px #D4D78A,
        0 0 92px #D4D78A,
        0 0 102px #D4D78A,
        0 0 151px  #D4D78A;
    display: inline-block;
    left: 156vh;
    position: relative;
  }


.logo {
 position: absolute;
 background-color: transparent;


}
