
body {
  overflow: scroll;
  z-index:7;

}

.Footer {
  z-index: 7;
  top: 130vh;
  position: absolute;
}


#your {
  color: white;
  display: inline-block;
  position: relative;
  left: 160vh;
  }
  
  #GLOWING {
    color: #fff;
    text-shadow:
        0 0 7px #F5F8B1,
        0 0 10px #F5F8B1,
        0 0 21px #F5F8B1,
        0 0 42px #D4D78A,
        0 0 82px #D4D78A,
        0 0 92px #D4D78A,
        0 0 102px #D4D78A,
        0 0 151px  #D4D78A;
    display: inline-block;
    left: 161vh;
    position: relative;
  }

.logo {
 position: absolute;

 background-color: transparent;


}
