* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.header {
position: fixed;


}


.headerElements  {
background-color: blueviolet;


}

.logo {
 position: absolute;
  transform:scale(0.5);
  margin:0;
  display: inline-block;
  z-index: 2;
  


    
}

.headerButtons {
   width: 75%;
   margin-right: 25%;
   float:right;
}

ul li {
    padding: 20px;
    display: inline-block;
    
    margin-left: 25%;
}

