* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.header {
position: fixed;
width:100%;
border-radius: 10px;
background-color: ivory;
z-index:10;


}


.headerElements  {



}

.logo {
 position: fixed;
  transform:scale(0.5);
  margin:0;
  display: inline-block;
  z-index: 11;
  left:-3%;
  top:-35%;
  


    
}

.headerButtons {
   width: 75%;
   float:right;
   margin:1% 0%;

}

ul li {
    padding: 20px;
    display: inline-block;
    margin-left: 12%;
    text-align: center;
    font-size:1.5rem;
    font-weight: 500;
}

