

 .home {
    background-image: url('../Images/palmBackground.jpg');
    text-align: center;
    background-position-x: center;
    background-size:cover;
    background-position-y:50%;
    position: relative;
    z-index: 1;
    height:150vh;
    overflow: scroll;
};

.eyePic {
    margin-top: 300px;
    z-index:1;
}

.collegen {
    top:40%;
    width:600px;
    height: 400px;
    float:right;
    margin:15% 2.25% 0% 0%;
    background-color: #fffff0CC ;
    border-radius: 30px;
    justify-content: space-between;
}

.collegen h1 {
    font-size: 50px;
    padding:7% 0% 0% 7%;
    letter-spacing:8px;
    text-transform: capitalize;
    color: ivory;
    float:left;
   
}

.collegen h2 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight:50px;
    font-style: normal;
    padding: 2% 0% 0% 7%;
    letter-spacing: 3px;
    float:left;
    
}
